In [273]:
# This is my project on Data Analytics

In [274]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [275]:
# Database
olympics = pd.read_csv("C:/Users/navya/Downloads/All Year Olympic Dataset (with 2020 Tokyo Olympics).csv")

In [276]:
olympics.describe()

          Unnamed: 0            Age           Year          Medal
count  275643.000000  266169.000000  275643.000000  275643.000000
mean   133368.348810      25.657364    1979.062048       0.300867
std     79446.745789       6.494015      30.099768       0.782901
min         0.000000      10.000000    1896.000000       0.000000
25%     64383.500000      21.000000    1960.000000       0.000000
50%    133294.000000      25.000000    1988.000000       0.000000
75%    202204.500000      28.000000    2004.000000       0.000000
max    271115.000000      97.000000    2020.000000       3.000000

In [277]:
olympics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275643 entries, 0 to 275642
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  275643 non-null  int64
 1   Name        275643 non-null  object
 2   Sex         275643 non-null  object
 3   Age         266169 non-null  float64
 4   Team        275643 non-null  object
 5   Games       275643 non-null  object
 6   Year        275643 non-null  int64
 7   Season      275643 non-null  object
 8   Sport       275643 non-null  object
 9   Medal       275643 non-null  int64
dtypes: float64(1), int64(3), object(6)
memory usage: 21.0+ MB

In [278]:
olympics.head()

,Unnamed: 0,Name,Sex,Age,Team,Games,Year,Season,Sport,Medal
0,0,A Dijiang,M,24.0,China,1992 Summer,1992,Summer,Basketball,0
1,1,A Lamusi,M,23.0,China,2012 Summer,2012,Summer,Judo,0
2,2,Gunnar Nielsen Aaby,M,24.0,Denmark,1920 Summer,1920,Summer,Football,0
3,3,Edgar Lindenau Aabye,M,34.0,Denmark/Sweden,1900 Summer,1900,Summer,Tug-Of-War,3
4,4,Christine Jacoba Aaftink,F,21.0,Netherlands,1988 Winter,1988,Winter,Speed Skating,0

In [279]:
# get names of all the sports
# get players who belong to Guyana and took part in athletics
# from the all year olympics table, show names in one column and number of olympics they participated in
# from the all year olympics table, find the total number of medals a sports person has earned in olympics
# find the total number of males and females who participated, also show the total
# from the all year olympics table, find the number of medals earned by USA

In [280]:
# get names of all the sports
olympics_players = olympics["Sport"]
olympics_players.unique()

array(['Basketball', 'Judo', 'Football', 'Tug-Of-War', 'Speed Skating',
       'Cross Country Skiing', 'Athletics', 'Ice Hockey', 'Swimming',
       'Badminton', 'Sailing', 'Biathlon', 'Gymnastics',
       'Art Competitions', 'Alpine Skiing', 'Handball', 'Weightlifting',
       'Wrestling', 'Luge', 'Water Polo', 'Hockey', 'Rowing', 'Bobsleigh',
       'Fencing', 'Equestrianism', 'Shooting', 'Boxing', 'Taekwondo',
       'Cycling', 'Diving', 'Canoeing', 'Tennis', 'Modern Pentathlon',
       'Figure Skating', 'Golf', 'Softball', 'Archery', 'Volleyball',
       'Synchronized Swimming', 'Table Tennis', 'Nordic Combined',
       'Baseball', 'Rhythmic Gymnastics', 'Freestyle Skiing',
       'Rugby Sevens', 'Trampolining', 'Beach Volleyball', 'Triathlon',
       'Ski Jumping', 'Curling', 'Snowboarding', 'Rugby',
       'Short Track Speed Skating', 'Skeleton', 'Lacrosse', 'Polo',
       'Cricket', 'Racquets', 'Motorboating', 'Military Ski Patrol',
       'Croquet', 'Jeu De Paume', 'Roque', 'Alpinism', 'Basque Pelota',
       'Aeronautics', 'Wheelchair Basketball', 'Sitting Volleyball',
       'Powerlifting', 'Canoe Sprint', 'Wheelchair Fencing',
       'Cycling Road', 'Cycling Track', 'Football 5-a-side', 'Equestrian',
       'Boccia', 'Goalball', 'Wheelchair Tennis', 'Wheelchair Rugby'],
      dtype=object)

In [281]:
# get players who belong to Guyana and took part in athletics
guyana = pd.read_csv("C:/Users/navya/Downloads/Athletes.csv")
guyana_filter = olympics["Team"] == "Guyana"
athletics_filter = olympics["Sport"] == "Athletics"
guyana_athletics  = olympics.where(guyana_filter & athletics_filter,inplace = True)
print(guyana_athletics)

None

In [282]:
# from the all year olympics table, show names in one column and number of olympics they participated in
athlete_names = olympics["Name"]
name_count = pd.value_counts(np.array(athlete_names))
print(name_count)

Aliann Tabitha Omalara Pompey           4
Oslen McGregor Barr                     3
Jennifer Innis                          3
Earl Haley                              2
Lancelot Gittens                        2
Charles C. F. O. Thompson               2
Brenessa Thompson                       2
Claudette Izel Masdammer (-Humphrey)    2
Richard Jones                           2
Oliver Stanford Hunter                  2
Clayton M. Glasgow                      2
Paul Tucker                             2
Winston Oudkerk George                  2
Marian Joan Burnett                     2
James Wren Gilkes                       2
Roger L. Gill                           1
Marilyn A. Dewarder                     1
Brenda Archer                           1
Jeremy Bascom                           1
Ian Roberts                             1
Harry Prowell                           1
Mark Mason                              1
George De Peana                         1
Nicola Martial                          1
Troy Doris                              1
Najuma "Nancy" Fletcher                 1
Desmond Hector                          1
Andrew Harry                            1
Adam Scott Harris                       1
Curt Hampstead                          1
Charles Tyrone Allen                    1
June Marcia Griffith (-Collison)        1
Ralph Gomes                             1
Aliyah Abrams                           1
dtype: int64

In [283]:
# find the total number of males and females who participated, also show the total
sex = pd.read_csv("C:/Users/navya/Downloads/EntriesGender.csv")
male = sex["Male"].sum()
female = sex["Female"].sum()
total = sex["Total"].sum()
male,female,total

(5884, 5432, 11316)